In [3]:
import requests    #응답 모듈

In [3]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\conda3\lib\site-packages (2.0.1)

In [12]:
user="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36"  #신분증

In [13]:
url='https://dart.fss.or.kr/pdf/download/excel.do?rcp_no=20230814002457&dcm_no=9392959&lang=ko'

In [14]:
from io import BytesIO
import pandas as pd

In [15]:
resp = requests.get(url, headers={"user-agent": user})

from io import BytesIO
import pandas as pd

table=BytesIO(resp.content)
pd.read_excel(table)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,문서정보,NaN,NaN,NaN,NaN,NaN
1,보고서 유형 : 반기보고서,정정공시여부 : 아니오,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,문서작성일 : 2023-06-30,비교표시 재무제표 작성여부 : 예,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
62,재무상태표,유동/비유동법,NaN,NaN,NaN,NaN
63,포괄손익계산서,손익/기타포괄손익 개별작성,NaN,NaN,NaN,NaN
64,NaN,비용의 기능,NaN,NaN,NaN,NaN
65,NaN,세후기타포괄손익,NaN,NaN,NaN,NaN
66,현금흐름표,간접법,NaN,NaN,NaN,NaN

In [16]:
test=pd.read_excel(table, sheet_name="연결 재무상태표", skiprows=5) #table의 어떤 시트에서 5개 제외하고 읽은 데이터를 bs에 저장

In [17]:
test.to_csv("연결 재무상태표.csv", encoding="euc-kr") #이건 유튜버용. csv파일이라 엑셀에서 조심하라고 함

In [18]:
pocket=["연결 재무상태표", "연결 손익계산서", "연결 현금흐름표"]

In [19]:
for sheet in pocket:
    test=pd.read_excel(table, sheet_name=sheet, skiprows=5)
    test.to_csv(sheet+".csv",encoding="euc-kr")

In [20]:
df=pd.read_csv('no.csv') #rcp,dcm

In [22]:
df

   period             rcp      dcm
0   23.06  20230814002457  9392959
1   22.12  20230315001030  9059749
2   21.12  20220316001052  8466511
3   20.12  20220217001036  8392746
4   19.12  20220217001012  8392681

In [27]:
def download(period, rcp, dcm, company):
    url="https://dart.fss.or.kr/pdf/download/excel.do?rcp_no={}&dcm_no={}&lang=ko".format(rcp,dcm)
    resp = requests.get(url, headers={"user-agent": user})
    table=BytesIO(resp.content)
    for sheet in pocket:
        print("*")
        test=pd.read_excel(table, sheet_name=sheet, skiprows=5)
        test.to_csv(company+str(period)+sheet+".csv",encoding="euc-kr")
        
#period는 str붙이는거 중요. 문자열과 숫자를 같이 결합한다고 에러 뜰 수 있음.

In [28]:
for period, rcp, dcm in zip(df['period'].values, df['rcp'].values, df['dcm'].values):
    download(period, rcp, dcm,'현대자동차')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*